{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier", "import"],
  "rules": {
    "comma-dangle": 0,
    "indent": 2,
    "func-names": 0,
    "max-len": [1, 120, 2],
    "no-use-before-define": ["warn"],
    "no-param-reassign": 0,
    "strict": 1,
    "import/no-extraneous-dependencies": 1
  }
}
